[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ultralytics = "*"
flask = "*"

[dev-packages]
plotly = "*"
ipykernel = "*"
kagglehub = "*"

[requires]
python_version = "3.12"
